.container {
  display: flex;
  height: calc(100vh - 80px);
  padding: 100px;
}

.left {
  flex: 1;
}

.items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.title {
  font-size: 50px;
}

.text {
  color: #423f3e;
  line-height: 24px;
}

.button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

.right {
  flex: 1;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
